<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE html>
<html>
<head>
    <title>showmark</title>
    <meta charset="utf-8"/>
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='kbits.css')}}"/>
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='kbits5.css')}}"/>
    <script type="text/javascript" id="MathJax-script" async
        src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-chtml.js"></script>
    </script>
</head>
<body>

{% block above_form %}{% endblock %}

<p>
<form method="get">
<input type="text" name="file" size="20" value="{{request.args.get('file', '')}}"/>
<input type="submit" name="action" value="View"/>
<input type="submit" name="action" value="List All"/>
</form>
</p>

{% block content %}{% endblock %}

<div style="font-size: small">{{showmark_imprint()}}</div>
</body>
</html>
